@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* src/index.css */

html, body, #root {
  margin: 0;
  padding: 0;           /* no outer padding */
  width: 100%;
}
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

h1 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}