/* Staff Layout styles */

.pageWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #e9f2f9;
}

.heroBanner {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-color: #e9f2f9;
}

.mainContent {
  width: 90%;
  max-width: 1400px;
  margin: 40px auto 80px auto;
}
